.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section {
  width: calc(100% / 3);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

form label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--text-color);
    font-size: 2rem;
    font-size: 2vw;
}

form input[type=text], form input[type=number] {
    outline: none;
    font-size: 1.75rem;
    font-size: 1.75vw;
}

form button {
    font-size: 1.75rem;
    font-size: 1.75vw;
    padding: 2%;
    background: var(--button-color);
    color: var(--text-color);
    border: 3px solid var(--button-border);
    border-radius: 10px;
    cursor: pointer;
    transition: background 1s ease, border 1s ease;
    -webkit-transition: background 1s ease, border 1s ease;
    -moz-transition: background 1s ease, border 1s ease;
}

form button:hover {
    background: var(--button-hover);
    border-color: var(--button-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}