.ConnectDialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--container-background);
    padding: 3%;
    border-radius: 25px;
}

.ConnectDialog form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.ConnectDialog form * {
    margin: 1% 0;
}