.CommandExecutor {
    width: 85%;
    background: var(--container-background);
    border-radius: 20px;
    padding: 5%;
    margin: 2.5% 0;
}

.CommandExecutor h1 {
    text-align: center;
    color: var(--text-color);
    font-size: 2.5rem;
    font-size: 2.5vw;
    line-height: 0;
}

.CommandExecutor form {
    display: flex;
    flex-direction: column;
}

.CommandExecutor form * {
    margin: 1% 0;
}

.CommandExecutor form textarea {
    resize: none;
    outline: none;
    font-size: 1rem;
    font-size: 1vw;
}

.send-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}